body {
    margin: 10px;
}

/* DASHBOARD */
.dashboard div{
    float: left;
    margin: 0 14px 0 0;
}

/* CARD */
.card {
    float: left;
    width: 100px;
    height: 150px;
    margin: 10px 10px 0 0;
    box-sizing: border-box;
}

/* CARD:VISIBILITY */
.card.status-back .back{
    visibility: visible;
    display: block;
}

.card.status-front .front,
.card.status-failed .front,
.card.status-hit .front{
    visibility: visible;
    display: block;
}

.card.status-hit .front{
    border: 2px solid blue;
}

.card.status-failed .front{
    border: 2px solid red;
}

/* CARD:FRONT */
.card .front {
    visibility: hidden;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #ccc;
}
.card .front .label{
    font-size: 42px;
    padding: 50px 0 0 0;
}

/* CARD:BACK */
.card .back {
    visibility: hidden;
    display: none;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background-color:white;
    background-image:
    radial-gradient(midnightblue 9px, transparent 10px),
    repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
}


/* TABLE */
table th,
table td{
    text-align: left;
    border-right: 1px solid #ccc;
    padding: 2px 10px 2px 4px;
}

table th {
    border-bottom: 1px solid #ccc;
}

/* HELPER */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}