<!DOCTYPE html>
<html ng-app="memoryGameApp">

<head>
    <title>Memory Game</title>
    <meta name="author" content="Ricardo Canelas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</head>

<body ng-controller="GameController as $ctrl">

    <div class='user-view' ng-if="!$ctrl.playerReady">
        <form class='form' ng-submit="ready(name)">
            <div>Your Name:</div>
            <input type='text' ng-model="name">
            <button type='submit' class='btn'>Ready</button>
        </form>
    </div>

    <div class='game-view' ng-if="$ctrl.playerReady">
        <h1>Memory Game</h1>

        <div class='nav'>
            <button class='btn' ng-click="start()">Start</button>
            <button class='btn' ng-click="restart()">Restart</button>
            <button class='btn' ng-click="changePlayer()">Change Player Name</button>
        </div>

        <hr />

        <div class='dashboard clearfix'>
            <div><strong>Player: </strong>{{ $ctrl.player }}</div>
            <div><strong>Time: </strong>{{ $ctrl.game.timer }} </div>
            <div><strong>Tried: </strong>{{ $ctrl.game.tried }}</div>
            <div><strong>Score: </strong>{{ $ctrl.game.score }}</div>
        </div>


        <div class="gameboard clearfix">
            <div class='card status-{{ card.status }}' ng-repeat="card in $ctrl.game.cards" ng-click="turn(card)">
                <div class='front'>
                    <div class='label'>
                        <i class="fas {{card.icon}}"></i>
                    </div>
                </div>
                <div class='back'>.</div>
            </div>
        </div>

        <hr/>

        <div class='ranking'>
            <h1>Ranking</h1>
            <table>
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Average of Hit</th>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in $ctrl.ranking | orderBy:['time', 'tried']">
                        <td>{{ player.timer }}</td>
                        <td>{{ ((player.maxScore * 100) / player.tried).toFixed(2) }} %</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- list: https://code.angularjs.org/1.7.2 -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-local-storage.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/MemoryGame.js"></script>
</body>

</html>